certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
platformdirs==4.3.6
Pygments==2.19.1
requests==2.32.3
rich==13.9.4
textual==2.1.2
tree-sitter==0.24.0
tree-sitter-bash==0.23.3
tree-sitter-css==0.23.2
tree-sitter-go==0.23.4
tree-sitter-html==0.23.2
tree-sitter-java==0.23.5
tree-sitter-javascript==0.23.1
tree-sitter-json==0.24.8
tree-sitter-markdown==0.3.2
tree-sitter-python==0.23.6
tree-sitter-regex==0.24.3
tree-sitter-rust==0.23.2
tree-sitter-sql==0.3.7
tree-sitter-toml==0.7.0
tree-sitter-xml==0.7.0
tree-sitter-yaml==0.7.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.3.0
